.hero {
  background-image: url(./images/hero-image.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 75vh;
  margin-bottom: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.section-content {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  text-align: center;
  width: 50%;
  padding: 5rem;
}

.main-heading {
  color: #dac3a1;
  cursor: pointer;
  font-size: 4.8rem;
  text-transform: uppercase;
  text-shadow: 3px 3px #000;
  margin-bottom: 4rem;
}

.main-heading span {
  display: block;
}

.btn {
  background-color: #464c37;
  border: none;
  border-radius: 1.5rem;
  color: #dac3a1;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 2rem 4rem;
}
